In [1]:
def greet():
    message="Hello"
    print("local",messsage)
print(messagee)

NameError: name 'messagee' is not defined

In [2]:
def add():
    x=20
    y=30
    print(x+y)
print(x)
print(y)

NameError: name 'x' is not defined

In [6]:
#globalscope
x="awesome"

def myfunc():
    #localscope
    x="fantastic"
    print("python is"+x)
myfunc()
print(x)

python isfantastic
awesome

In [11]:
x=20
def add():
    y=30
    print("local variable y=",y)
    print('globa variable x=',x)
    z=x+y
    print(z)
    print("="*50)
def sub():
    m=10
    print("local variable m=",m)
    print("global variable x=",x)
    a=x-m
    print(a)
add()
sub()

local variable y= 30
globa variable x= 20
50
==================================================
local variable m= 10
global variable x= 20
10

In [13]:
#python function arguments

In [17]:
def add_numbers(a,b):
    sum=a+b
    print("sum",sum)
add_numbers(5,6)

sum 11

In [18]:
def my_name(name):
    print("my name is",name)

In [19]:
my_name()

TypeError: my_name() missing 1 required positional argument: 'name'

In [20]:
my_name("lalit")

my name is lalit

In [30]:
def add_numbers(a=4,b=8):
    sum=a+b
    print("sum",sum)

In [22]:
add_numbers()

sum 12

In [23]:
add_numbers(2,8)

sum 10

In [24]:
add_numbers(1)

sum 9

In [25]:
add_numbers(b=1)

sum 5

In [26]:
def emp_name(name="pw skills"):
    print("my name is ",name)

In [27]:
emp_name()

my name is  pw skills

In [28]:
emp_name("lalit")

my name is  lalit

In [31]:
#keyword arguments

In [32]:
def display_info(first_name,last_name):
    print("first name:-",first_name)
    print("last name:-",last_name)
display_info(first_name="pw",last_name="skills")

first name:- pw
last name:- skills

In [33]:
display_info(last_name="skills",first_name="pw")

first name:- pw
last name:- skills

In [34]:
def add_numbers(a,b):
    sum=a+b
    print("sum",sum)
add_numbers(a=4,b=7)

sum 11

In [36]:
add_numbers(b=9,a=2)

sum 11

In [37]:
def add_numbers(a=4,b=8):
    sum=a+b
    print("sum",sum)
add_numbers(a=5,b=5)

sum 10

In [38]:
add_numbers()

sum 12

In [39]:
add_numbers(a=44,b=44)

sum 88

In [40]:
add_numbers(b=1)

sum 5

In [44]:
def add_numbers(a,b=8):
    sum=a+b
    print("sum",sum)

In [45]:
def add_numbers(a=9,b):
    sum=a+b
    print("sum",sum)

SyntaxError: non-default argument follows default argument (2768171517.py, line 1)

In [46]:
#Rule-: When we use default parameters in the function definition, They must be used as last Parameter(s)
#otherwise we get Error( SyntaxError: non-default argument (Possitional ) follows default argument).

In [47]:
# *args and **kargs--variable length arguments.
# single*-it takes as n number of values
# double**-

In [53]:
def find_sum(*numbers):
    result=0
    
    for num in numbers:
        result=result+num
    print("sum",result)

In [54]:
find_sum()

sum 0

In [55]:
find_sum(1,2,3,4,5,6,7,8,9,10)

sum 55

In [56]:
find_sum(1,2,3)

sum 6

In [59]:
def print_name(*names,a="lalit"):
    print("name are",names)
    print(a)

In [60]:
print_name("sonu","borase")

name are ('sonu', 'borase')
lalit

In [62]:
def simple(*x):
    print(x)

In [64]:
simple()

()

In [65]:
simple(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [68]:
a=simple([1,2,3,4,5])
type(a)

([1, 2, 3, 4, 5],)

NoneType

In [70]:
z=simple(1,2,3,4)
type(z)

(1, 2, 3, 4)

NoneType

In [71]:
simple("lalit","borase",1,2,4,"svkm")

('lalit', 'borase', 1, 2, 4, 'svkm')

In [72]:
#**kargs

In [81]:
def intro(**data):
    print("data type of arguments",type(data))
    for key,value in data.items():
        print(key,value)

In [86]:
intro(first_name="lalit",last_name="borase")

data type of arguments <class 'dict'>
first_name lalit
last_name borase

In [82]:
x={'a':1,'b':2}

In [83]:
for i in x:
    print(i)

a
b

In [84]:
for keys,value in x.items():
    print(keys,value)

a 1
b 2

In [85]:
x.items()

dict_items([('a', 1), ('b', 2)])

In [87]:
def simple1(*x):
    print(x)

In [88]:
simple(1,2,3)

(1, 2, 3)

In [89]:
simple(44,33,11,22)

(44, 33, 11, 22)

In [90]:
def simple2(**x):
    print(x)

In [93]:
simple2(name="lalit",surname="borase",college="svkm")

{'name': 'lalit', 'surname': 'borase', 'college': 'svkm'}

In [103]:
def demo1(*x):
    print(x)
    print(x[1])

In [104]:
demo1(1,3,5,6)

(1, 3, 5, 6)
3

In [96]:
demo1("lalit","borase",1,2,3)

('lalit', 'borase', 1, 2, 3)

In [97]:
demo1(1)

(1,)

In [98]:
def demo1(**x):
    print(x)

In [99]:
demo1(x="lalit")

{'x': 'lalit'}

In [100]:
demo1(x="lalit",y="borase")

{'x': 'lalit', 'y': 'borase'}

In [101]:
demo1(x)

TypeError: demo1() takes 0 positional arguments but 1 was given

In [105]:
# in variable length 1.*args 2.**kargs we pass n number of arguments but in case 1 we pass value but in 2nd
#case we pass n number of values but in the format of key value pair

In [106]:
#lambda functions

In [107]:
lambda:print("Hello World")

In [109]:
x=lambda:print("Hello World")
x()
print(type(x))

Hello World
<class 'function'>

In [110]:
a=lambda a,b:a+b

In [112]:
a(8,3)

11

In [113]:
addnum=lambda a,b,c:a+b+c

In [115]:
addnum(4,5,6)

15

In [1]:
a=int(input("Enter a 1st No:-"))
b=int(input("Enter a 2nd No:-"))
c=lambda a,b:(a**2,b**2)
print(c(a,b))

Enter a 1st No:-2
Enter a 2nd No:-4
(4, 16)

In [4]:
def evenodd(n):
    if n%2==0:
        print("number is even")
    else:
        print("number is odd")

In [6]:
evenodd(23)

number is odd

In [7]:
x=lambda n:"True" if n%2==0 else "False"

In [8]:
x(3)

'False'

In [9]:
x(80)

'True'

In [10]:
x=lambda n:"Number is even" if n%2==0 else "Number is Odd"

In [11]:
x(9)

'Number is Odd'

In [12]:
x(4)

'Number is even'

In [13]:
#write a lambda function that accept 2 args and return greater among them

In [15]:
gretest_num=lambda a,b:a if a>b else b

In [16]:
gretest_num(19,4)

19

In [17]:
sum=lambda a,b:(a+b)

In [18]:
sum(88,22)

110

In [20]:
#sorted on the bases of price
products=[
    {'name':'product1','price':50},
    {'name':'product2','price':40},
    {'name':'product3','price':30},
    {'name':'product4','price':80}
]
#sorted()
sorted_product = sorted(products,key=lambda x:x['price'])

In [21]:
for i in sorted_product:
    print(i)

{'name': 'product3', 'price': 30}
{'name': 'product2', 'price': 40}
{'name': 'product1', 'price': 50}
{'name': 'product4', 'price': 80}

In [22]:
x={'name':'product1','price':50}

In [23]:
key=lambda x:x['price']

In [24]:
key

In [25]:
x['price']

50

In [26]:
#write a lambda expression accept a char as argument and return true if it is a vowel other false
lalit
 a i

In [2]:
vowels=['a','e','i','o','u','A','I','O','U','S']
string=input("Enter a String")
vowel_list=[string[i] for i in range(len(string)) if string[i] in vowels]
vowel_list

Enter a Stringlalit

['a', 'i']

In [3]:
#enumerate function
lang=["java","python","js"]

In [10]:
a=enumerate(lang,11)

In [11]:
list(a)

[(11, 'java'), (12, 'python'), (13, 'js')]

In [12]:
#list comprehension
#[output   |   collection   | condition]
#            [0,1,2,3,4,]     if x%2==2

In [14]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [15]:
a=[x for x in lst]

In [16]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
lst=[1,2,3,4,5,6,7,8]
a=[x+1 for x in lst]

In [21]:
a

[2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x*2 for x in lst]

In [23]:
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
a=[x for x in lst if x>4]

In [25]:
a

[5, 6, 7, 8, 9, 10]

In [28]:
a=[]
for x in lst:
    if x>4:
        a.append(x)

In [29]:
a

[5, 6, 7, 8, 9, 10]

In [32]:
l=list(range(1,11))

In [33]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
a=[x for x in l if x%2==0]

In [35]:
a

[2, 4, 6, 8, 10]

In [36]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
d=[x for x in lst if x>4  if x%2==0]
d

[6, 8, 10]

In [38]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
e=[x if x>4 else 'lesssthan 4' for x in lst]

In [39]:
e

['lesssthan 4', 'lesssthan 4', 'lesssthan 4', 'lesssthan 4', 5, 6, 7, 8, 9, 10]

In [41]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
e=[x if x>4 else 'lessthan4' for x in lst]

In [42]:
e

['lessthan4', 'lessthan4', 'lessthan4', 'lessthan4', 5, 6, 7, 8, 9, 10]

In [43]:
a=[]
for x in l1:
    if x>4:
        a.append(x)
    else:
        a.append("less than 4")

In [44]:
a

['less than 4', 'less than 4', 'less than 4', 'less than 4', 5, 6, 7, 8, 9, 10]

In [45]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
f=['two' if x%2==0 else 'three' if x%3==0 else 'not a & b' for x in l1]

In [46]:
f

['not a & b',
 'two',
 'three',
 'two',
 'not a & b',
 'two',
 'not a & b',
 'two',
 'three',
 'two']

In [47]:
a=[]
for x in lst:
    if x%2==0:
        a.append('two')
    elif x%3==0:
        a.append('three')
    else:
        a.append('not a & b')

In [48]:
a

['not a & b',
 'two',
 'three',
 'two',
 'not a & b',
 'two',
 'not a & b',
 'two',
 'three',
 'two']