In [16]:
a=500
shirt_price =200
pant_price =500
coat_price =800
my_size="M"
size_store=["L","S","XXL","XXXL","M"]
my_color="white"
store_color=["white","black","red","blue","orange"]

if coat_price<=a:
    print("i will try to buy coat")
elif pant_price<a:
    print("i will try to buy pant")
elif shirt_price <a:
    print("yes its available under my budget")
    if my_size in size_store:
        print("i will try to buy shirt")
        if my_color in store_color:
            print("yes i will try to choose it color")
        else:
            print("my fav color is not available i will move to another shop")
    else:
        print("my size is not available")
        
    
else:
    print("i won't be able to buy")

yes its available under my budget
i will try to buy shirt
yes i will try to choose it color

In [18]:
course=["DSM","DSA","JAVA","BID DATA","DA"]
price=20000
mentor="sudhanshu kumar"
if 'DSM'in course and price ==1000 and "sudhanshu kumar"==mentor:
    print("yes i am doing this course")

In [19]:
course_price=20000
if 10000 <= course_price <=15000:
    print("i will try to buy a course")
else:
    print("it's out of my budget")

it's out of my budget

In [20]:
10000 <= course_price <=15000

False

In [23]:
user_name="sudh"
password="sudh@1234"
if user_name==input("enter your user name:-") and password==input("enter your password:-"):
    print("You have Loged in Successfully")
else:
    print("enter correct username and password")

enter your user name:-sudh
enter your password:-sudh@1234
You have Loged in Successfully

In [28]:
mobile_no=12345
otp=132
if mobile_no==int(input("enter a mobile no:-")):
    print("yes you are a registered user")
    if otp == int(input("enter a otp that we have sent on your mobile no:-")):
        print("you have logged in successfuully")
    else:
        print("otp is not correct please try to enter again")
else:
    print("yoou have not entered a valid mobile number:-")

enter a mobile no:-12345
yes you are a registered user
enter a otp that we have sent on your mobile no:-132
you have logged in successfuully

In [29]:
mobile_no={122342,44534,1321,345353,2342342}
otp=132
if int(input("Enter your registered mobile no:-")) in mobile_no:
    print("yes you are a registered user")
    if otp == int(input("enter a otp that we have sent on your mobile no:-")):
        print("you have logged in successfuully")
    else:
        print("otp is not correct please try to enter again")
else:
    print("yoou have not entered a valid mobile number:-")

Enter your registered mobile no:-1321
yes you are a registered user
enter a otp that we have sent on your mobile no:-132
you have logged in successfuully

In [31]:
l1=[1,2,3,5]
for i in l1:
    print(i)

1
2
3
5

In [33]:
mobile_no=[22342,44534,1321,345353,2342342]
for i in mobile_no:
    print(i)

22342
44534
1321
345353
2342342

In [42]:
mobile_no=[23423,1231223,452342,36345,21342]
stud_mo = 23423
stud_details={'mobile_no':23423 , 'course':['dsa','dsm','big data']}

for i in mobile_no:
    print(i)
    if i == stud_mo:
        print("yes user is registered")
        if i == stud_details['mobile_no']:
            print("yes student details are available in DB")
            print("course accessed to this user is ",stud_details['course'])

23423
yes user is registered
yes student details are available in DB
course accessed to this user is  ['dsa', 'dsm', 'big data']
1231223
452342
36345
21342

In [45]:
#extract strings from the given list
t=(12,3,4,5,56,"sudh","kumar")
for i in t:
    if type(i)== str:
        print(i)

sudh
kumar

In [51]:
lst_of_int=[]
lst_of_str=[]
for i in t:
    if type(i)==int:
        lst_of_int.append(i)
    elif type(i)==str:
        lst_of_str.append(i)
print(lst_of_int)
print(lst_of_str)

[12, 3, 4, 5, 56]
['sudh', 'kumar']

In [52]:
s={3,4,5,56,76,7,7,8,8}
s

{3, 4, 5, 7, 8, 56, 76}

In [54]:
for i in s:
    print(i)

3
4
5
7
8
56
76

In [55]:
d={"name":"lalit",'class':['big data','data analytics','data science','dsa','arch'],'mobile no':324234234,"email_id":'lalitborase8@gmail.com'}

In [56]:
d

{'name': 'lalit',
 'class': ['big data', 'data analytics', 'data science', 'dsa', 'arch'],
 'mobile no': 324234234,
 'email_id': 'lalitborase8@gmail.com'}

In [57]:
for i in d.values():
    print(i)

lalit
['big data', 'data analytics', 'data science', 'dsa', 'arch']
324234234
lalitborase8@gmail.com

In [58]:
d.values()

dict_values(['lalit', ['big data', 'data analytics', 'data science', 'dsa', 'arch'], 324234234, 'lalitborase8@gmail.com'])

In [59]:
for i in d.values():
    if type(i)==list:
        print(i)

['big data', 'data analytics', 'data science', 'dsa', 'arch']

In [62]:
for i in d.values():
    if type(i)==list:
        if 'dsa' in i:
            print("yes this mentor teach system design")

yes this mentor teach system design